.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #16262e;
  font-family: "Monsterrat", sans-serif;
  font-size: 5vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 20px;
    font-size: 6.4vw;
  }
}

.emoji {
  animation: wobble 2s infinite;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
